/* Dla WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Szerokość paska przewijania */
  height: 12px; /* Wysokość paska przewijania (dla przewijania poziomego) */
}

::-webkit-scrollbar-track {
  background: rgb(30, 30, 30); /* Tło tracka */
  border-radius: 6px; /* Zaokrąglenia */
}

::-webkit-scrollbar-thumb {
  background: rgb(139, 69, 19); /* Kolor uchwytu */
  border-radius: 6px; /* Zaokrąglenia */
  border: 3px solid rgb(30, 30, 30); /* Oddzielenie uchwytu od tracka */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 215, 0); /* Kolor uchwytu po najechaniu */
}


html {
  background-color: rgb(150, 119, 84);
}

body {
  background-color: rgb(150, 119, 84);
  color: white;
  font-size: 1.1rem;
  font-family: "Morris Roman", serif;
  margin: 0;
  padding: 0;
}

div {
  background-color: rgb(150, 119, 84);
  color: white;
  font-size: 1.2rem;
  font-family: "Morris Roman", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.top-navigation-button {
  font-size: 2.4rem; /* Duża czcionka */
  color: white; /* Biały tekst */
  text-decoration: none;
  font-family: "Morris Roman", serif; /* Stylizowana czcionka */
  background-color: transparent; /* Przezroczyste tło */
  border: none; /* Brak obramowania */
  cursor: pointer; /* Rączka przy najechaniu */
  padding: 5px 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8); /* Lekki cień tekstu */
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.top-navigation-button:hover {
  color: rgb(255, 215, 0); /* Złoty tekst przy najechaniu */
  transform: scale(1.05); /* Delikatne powiększenie */
}


.navigation-background {
  background-color: rgb(168, 125, 64); /* Brązowe tło */
  padding: 5px;
  border-bottom: 8px solid rgba(255, 255, 255, 0.9); /* Gruba biała dolna ramka */
  display: flex;
  justify-content: center;
  gap: 20px; /* Odstępy między przyciskami */
}

.tab-button {
  margin: 5px;
  flex: 0 1 auto; /* Przyciski mają dynamiczną szerokość */
  width: 100%;
  color: #d4c692;
  background-color: #5c4b32;
  border: 2px solid #8a6f48;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.tab-button.active {
  background-color: #8a6f48;
  color: #3b3a30;
}

.tab-button:hover {
  background-color: #746644;
}

.button-group {
  margin-top: 5px;
  gap: 5px;
  display: flex;
  width: 100%; /* Rozciągnięcie na całą szerokość */
  justify-content: space-between; /* Równy rozkład elementów */
}

.button-group > * {
  flex: 1; /* Równe rozmiary elementów */
  text-align: center; /* Wyrównanie tekstu w środku */
}

.creation-button {
  font-size: 1.7rem; /* Powiększona czcionka */
  color: white; /* Biały tekst */
  font-family: "Morris Roman", serif; /* Stylizowana czcionka */
  background-color: transparent; /* Brak tła */
  border: none; /* Brak ramki */
  cursor: pointer; /* Wskaźnik przy najechaniu */
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.creation-button:hover {
  background: linear-gradient(to right, rgba(139, 0, 0, 0.8), rgba(139, 0, 0, 0) 80%); /* Ciemnoczerwone tło wygasające */
  color: rgb(255, 215, 215); /* Jaśniejszy kolor tekstu przy najechaniu */
}

/* Styl dla tła creation-background */
.creation-background {
  background-color: rgb(30, 30, 30); /* Bardzo ciemne szare tło */
  min-height: 550px; /* Minimalna wysokość */
  margin-top: 5px; /* Margines */
  padding: 15px; /* Wewnętrzne odstępy */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8); /* Wklęsły efekt */
  display: flex; /* Rozkład elementów */
  flex-direction: column; /* Ustawienie elementów w kolumnie */
  align-items: flex-start; /* Wyrównanie elementów do lewej */
  width: fit-content; /* Dopasowanie szerokości do zawartości */
  min-width: 400px; /* Minimalna szerokość */
  max-width: 600px;
}

.sidepanel-background {
  background-color: rgb(30, 30, 30); /* Bardzo ciemne szare tło */
  padding: 15px; /* Wewnętrzne odstępy */
  box-shadow: 0 0 5px rgba(139, 69, 19, 0.6), inset 0 0 5px rgba(0, 0, 0, 0.5); /* Zewnętrzny blask brązu i wklęsły efekt */
  flex-direction: column; /* Ustawienie elementów w kolumnie */
  border: 4px solid rgb(139, 69, 19); /* Ciemny brązowy kolor */
  border-radius: 10px; /* Zaokrąglone rogi */
  min-width: 430px;
  max-width: 430px;
  height: 75vh;
  overflow-y: auto;
}

.attributes-background {
  background-color: rgb(30, 30, 30); /* Bardzo ciemne szare tło */
  min-height: 300px; /* Minimalna wysokość */
  margin-top: 5px; /* Margines */
  padding: 15px; /* Wewnętrzne odstępy */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8); /* Wklęsły efekt */
  display: flex; /* Rozkład elementów */
  flex-direction: column; /* Ustawienie elementów w kolumnie */
  align-items: flex-start; /* Wyrównanie elementów do lewej */
  width: fit-content; /* Dopasowanie szerokości do zawartości */
  min-width: 800px; /* Minimalna szerokość */
}

/* Tekst nagłówkowy */
.attributes-header-text {
  font-size: 2rem; /* Lekko większa czcionka */
  font-weight: bold;
  color: #e0be9f; /* Delikatny brązowy kolor */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); /* Klimatyczny cień */
  font-family: 'Garamond', serif; /* Styl w klimacie klasycznych gier RPG */
  margin-bottom: 10px;
  margin: 5px;
}

/* Tekst opisowy */
.attributes-description-text {
  font-size: 0.95rem; /* Standardowy rozmiar */
  color: #e0be9f; /* Ten sam delikatny brąz */
  font-family: 'Garamond', serif;
  line-height: 1.5; /* Lepsza czytelność */
  margin-bottom: 18px;
  margin-right: 8px;
  margin-left: 2px;
}

/* Przyciski */
.attributes-button {
  font-size: 1rem;
  font-weight: bold;
  color: black; /* Czarna czcionka */
  background-color: #e0be9f; /* Brązowe tło */
  border: 4px solid #61493a; /* Ciemniejsza brązowa ramka */
  border-radius: 8px; /* Zaokrąglone rogi */
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 2px;
  margin-right: 2px;
  margin: 5px;
}

.attributes-button:active {
  transform: scale(0.95); /* Wrażenie wciśnięcia */
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.attributes-container {
  border: 2px solid #e0be9f; /* Jasnobrązowa ramka */
  border-radius: 6px; /* Zaokrąglenie */
  background-color: rgb(30, 30, 30); /* Tło pasujące do klimatu */
  padding: 10px 15px;
  margin-bottom: 10px; /* Odstęp między elementami */
  box-shadow: 0px 0px 5px rgba(160, 82, 45, 0.5); /* Przyozdobienie */
}

/* Wiersz dla atrybutu */
.attributes-row {
  display: grid;
  grid-template-columns: 1fr auto; /* Nazwa z wartością (1fr) + przyciski (auto) */
  align-items: center;
  gap: 80px; /* Duża przerwa między nazwą a przyciskami */
}

/* Wartość atrybutu */
.attributes-value {
  font-weight: bold;
  color: #e0be9f; /* Jasnobrązowy kolor */
}

.attributes-buttons {
  display: flex;
  gap: 5px; /* Odstęp między przyciskami */
}

.primary-text {
  font-size: 2.3rem; /* Duży, ozdobny tekst */
  color: white; /* Biały kolor tekstu */
  font-family: "Morris Roman", serif; /* Stylizowana czcionka */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Głębszy cień tekstu */
  text-align: center; /* Wyśrodkowanie tekstu */
  font-style: italic; /* Kursywa */
}

/* Styl dla secondary-text */
.secondary-text {
  font-size: 2rem; /* Lekko powiększony tekst */
  color: white; /* Biały kolor tekstu */
  font-family: "Morris Roman", serif; /* Stylizowana czcionka */
  font-style: italic; /* Kursywa */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Głębszy cień tekstu */
  
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Przyciemnione tło */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
  
}

.popup-content {
  background-color: rgb(30, 30, 30); /* Tło popupu */
  border: 3px solid rgb(201, 201, 201); /* Gruba biała ramka */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  padding: 25px;
  min-width: 300px;
  max-width: 1200px;
  max-height: 85%;
  overflow-y: auto;
}

.chosen-creation-data {
  font-family: "Morris Roman", serif;
  font-style: italic;
  padding: 5px;
  margin: 10px;
  margin-left: 25px;
}

span {
  font-size: 1.4rem;
  padding: 5px;
  margin: 10px;
}

.center-text {
  font-size: 1.5rem; /* Zwiększony rozmiar czcionki */
  padding: 5px; /* Odstęp wewnętrzny */
  margin: 5px; /* Odstęp zewnętrzny */
  font-style: normal; /* Usunięcie pochylenia */
  text-align: center; /* Wycentrowanie tekstu */
}

.category-button {
  font-size: 1.5rem; /* Większa czcionka */
  color: white;
  font-family: "Morris Roman", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Głębszy cień */
  background: linear-gradient(135deg, rgb(139, 69, 19), rgb(101, 67, 33)); /* Ozdobne gradientowe tło */
  border: 3px solid rgba(255, 255, 255, 0.8); /* Wyraźna, jasna ramka */
  border-radius: 5px; /* Zaokrąglenie */
  padding: 5px 30px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 2px rgba(255, 215, 0, 0.5); /* Delikatny złoty blask */
}

.category-button:hover {
  transform: scale(1.05); /* Powiększenie przy najechaniu */
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* Silniejszy blask */
  background: linear-gradient(135deg, rgb(180, 80, 30), rgb(139, 69, 19)); /* Jaśniejszy gradient */
}

.standard-button {
  font-size: 1.3rem;
  color: white;
  font-family: "Morris Roman", serif;
  background-color: rgb(30, 30, 30); /* Ciemne tło */
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}

.standard-button:hover {
  background-color: rgb(35, 35, 35); /* Lekko jaśniejsze tło przy najechaniu */
}

.standard-button:disabled,
.disabled-button {
  color: #999; /* Wyszarzony tekst */
  background-color: rgb(60, 60, 60); /* Przygaszone tło */
  cursor: not-allowed; /* Niedostępny kursor */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* Mniej wyraźny cień */
  opacity: 0.6; /* Zmniejszona przezroczystość */
}


.arrow-right {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background: rgb(139, 69, 19); /* Gradient w stylu fantasy */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.arrow-right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 25px;
  border-color: transparent transparent transparent rgb(139, 69, 19);
}

.arrow-left {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 5px;
  background: rgb(139, 69, 19); /* Gradient w stylu fantasy */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.arrow-left::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 25px 0;
  border-color: transparent rgb(139, 69, 19) transparent transparent;
}

.popup-description {
  color: rgb(210, 180, 140);
  text-decoration: underline;
  background-color: rgb(30, 30, 30);
  font-family: "Morris Roman", serif;
  cursor: pointer;
}

table {
  border-collapse: collapse; /* Usuń odstępy między komórkami */
  background-color: rgb(30, 30, 30); /* Ciemne tło */
  font-family: "Morris Roman", serif; /* Styl tekstu */
  color: white; /* Kolor tekstu */
  font-size: 0.9rem; /* Zmniejszony rozmiar czcionki */
}

th, td {
  border: 1px solid white; /* Cienka biała ramka */
  padding: 2px 3px; /* Zmniejszone wewnętrzne odstępy */
  text-align: center; /* Wyśrodkowanie tekstu */
}

th {
  background-color: rgb(50, 50, 50); /* Jaśniejsze tło dla nagłówków */
  font-weight: bold; /* Pogrubienie nagłówków */
}

tr:nth-child(even) {
  background-color: rgb(40, 40, 40); /* Alternatywne tło dla parzystych wierszy */
}

tr:nth-child(odd) {
  background-color: rgb(30, 30, 30); /* Tło dla nieparzystych wierszy */
}


.vertical-rectangle {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: rgb(30, 30, 30);
  border: 3px solid white;
  border-radius: 10px;
  width: 450px; /* Szerokość prostokąta */
  height: 650px; /* Wysokość prostokąta */
  padding: 20px;
  position: relative;
  margin: 25px;
}

.vertical-rectangle-button {
  font-size: 6rem;
  border: none;
  width: 200px;
  height: 300px;
  background-color: rgb(70, 70, 70);
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-align: center; /* Wyśrodkowanie tekstu w poziomie */
  display: grid; /* Aktywacja Grid */
  place-items: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  border: 3px solid white;
  border-radius: 10px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.vertical-rectangle-button:hover {
  color: rgb(255, 215, 0); /* Złoty tekst przy najechaniu */
  border: 3px solid rgb(255, 215, 0);
  transform: scale(1.05); /* Delikatne powiększenie */
}

.vertical-rectangle-text {
  flex-grow: 1;
  margin-left: 10px;
  font-size: 3rem;
  color: white;
  text-align: center;
  background-color: rgb(30, 30, 30);
}


.character-rectangle-button {
  font-size: 6rem;
  max-width: 300px;
  max-height: 300px;
  background-color: rgb(70, 70, 70);
  color: white;
  text-decoration: none;
  text-align: center; /* Wyśrodkowanie tekstu w poziomie */
  display: grid; /* Aktywacja Grid */
  place-items: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  border: 3px solid white;
  border-radius: 10px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.character-rectangle-text {
  flex-grow: 1;
  margin-left: 15px;
  font-size: 1.3rem;
  color: white;
  text-align: left;
  background-color: rgb(30, 30, 30);
}

.music-player {
  position: fixed;
  width: 25%;
  background-color: rgb(168, 125, 64);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  color: white;
  z-index: 1000;
}

.track-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgb(168, 125, 64);
  max-width: 100%;
}

.track-info h2 {
  margin: 0;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgb(168, 125, 64);
}

.controls {
  display: flex;
  gap: 0.5rem;
  background-color: rgb(168, 125, 64);
}

.controls button {
  padding: 0.5rem 1rem;
  border: 2px solid white;
  background-color: rgb(168, 125, 64);
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.controls button:hover {
  color: rgb(255, 215, 0);
  border: 2px solid rgb(255, 215, 0);
}
